<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
				http://www.springframework.org/schema/tx http://www.springframewyork.org/schema/tx/spring-tx-3.1.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
				http://www.springframework.org/schema/mvc 
        		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">


	<!-- 扫描注解配置的包 -->
	<context:component-scan base-package="com.flzc.quartz.controller" />
	<mvc:annotation-driven />

	<!-- 默认的注解映射的支持 -->


	<!-- 配置js，css等静态文件直接映射到对应的文件夹，不被DispatcherServlet处理 -->
	<!-- <mvc:resources mapping="/resourse/**" location="/resourse/" /> -->
	<mvc:resources mapping="/js/**" location="/js/" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<!-- 配置视图层 使用jstl标签 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 定义视图前缀格式 -->
		<property name="prefix" value="/WEB-INF/pages/" />
		<!-- 定义视图后缀格式 -->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 数字越大，越会先发生匹配，让静态资源先匹配 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>

	<mvc:annotation-driven >
		<mvc:message-converters register-defaults="true">
			<!-- 使用Jackson转换器 -->
			<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/html;charset=UTF-8" />
			</bean>
			<!-- 解决乱码问题 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!--<bean id="conversionService"-->
		  <!--class="org.springframework.format.support.FormattingConversionServiceFactoryBean">-->
		<!--<property name="converters">-->
			<!--<list>-->
				<!--<bean class="com.flzc.manager.common.DateConverter" />-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
</beans>